{% from 'bootstrap5/form.html' import render_field %}
<form method="post" action="" id="loginForm" novalidate>
  <fieldset>
    {{ form.csrf_token }}
    {{ render_field(form.username) }}
    {% if not reset %}
    {{ render_field(form.password) }}
    {% endif %}
  </fieldset>
  <div class="login__btn-group mt-3">
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="submit">
        {% if not reset %}
        {% trans %}Log in{% endtrans %}
        {% else %}
        {% trans %}Reset Password{% endtrans %}
        {% endif %}
      </button>
      {% if not reset %}
      <div class="text-center">
        <a rel="nofollow" class="link--styled" href="{{ url_for('account.resetpwd') }}">
          {% trans %}Forgot password?{% endtrans %}
        </a>
      </div>
      {% endif %}
    </div>

    </div>
  </div>
</form>
